.l-container {
  display: block;
  margin: 0 auto;
  max-width: $layout-max-width + ($layout-padding * 2);
  padding: 0 $layout-padding;
}

// GRID
.l-row {
  @include flex-grid-row(nest, expand, null, false, $grid-column-gutter);
}

.l-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $color-bg-light;

  &.-fullscreen {
    height: 100vh;
  }
}

.l-main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
