{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "add-react-displayname",
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "components/Wysiwyg": "./lib",
          "constants": "./lib/constants",
          "modules": "./lib/modules",
          "css": "./css"
        }
    }],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ]
  ]
}
