{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "L": true,
    "config": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": [
    "vizzuality"
  ],
  "plugins": [
    "babel"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "import/prefer-default-export": 0,
    "no-return-assign": 0,
    "comma-dangle": ["error", "never"],
    "prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "arrow-body-style": 0,
    "no-underscore-dangle": 0,
    "class-methods-use-this": 0,
    "react/no-array-index-key": 0
  }
}
