.cw-wysiwyg-grid-edition {
  display: block;
  min-width: 300px;
  padding: $space-1 * 2;

  .grid-edition-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .grid-edition-column {
    width: calc(50% - #{$space-1 * 2});
  }

  .grid-edition-placeholder {
    padding: $space-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &:hover {
      > span {
        height: $space-1 * 4;
        background: $color-primary;
      }
    }

    > span {
      height: $space-1 * 3;
      background: $color-primary;
      transition: all .16s ease-in-out;

      &.-small-6 {
        width: 47.5%;
      }
      &.-small-4 {
        width: 30%;
      }
    }
  }
}
