.c-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $space-1;

  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;

  background: none;

  color: $color-text-1;
  fill: $color-text-1;
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  font-family: inherit;
  letter-spacing: 0;
  line-height: 0.8;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;

  appearance: none;

  transition: all .16s ease-in-out;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &.-primary {
    color: $color-primary;
    background: $color-bg-cream;
    border-color: $color-primary;
    svg { fill: $color-primary; }

    &:hover {
      color: $color-text-2;
      background: $color-primary;
      svg { fill: $color-text-2; }
    }
  }

  &.-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
  }
}
