.c-tooltip {
  background: $color-primary;
  color: $color-white;
  padding: $space-1;

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
  }

  &[data-placement^="top"] {
    margin-bottom: 5px;
  }

  &[data-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-color: $color-primary transparent transparent transparent;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }

  &[data-placement^="bottom"] {
    margin-top: 5px;
  }

  &[data-placement^="bottom"] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent $color-primary transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }

  &[data-placement^="right"] {
    margin-left: 5px;
  }

  &[data-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-color: transparent $color-primary transparent transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }

  &[data-placement^="left"] {
    margin-right: 5px;
  }

  &[data-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent $color-primary;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }
}
