.c-wysiwyg-item-content {
  margin: 0 $space-1 * 4;
  padding: $space-1;
  display: inline-flex;
  box-shadow: 0 0 0 1px transparent;
  transition: all $animation-time $ease-in-out-sine;

  &.-isHover {
    box-shadow: 0 0 0 1px $color-primary;
  }

  &.-grid {
    display: flex;
  }
}
