.c-wysiwyg-item-drag {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all $animation-time-2 $ease-in-out-sine;
  transform: translate(-4px, -1px);

  .item-drag {
    > li {
      margin: 4px 0 0;
      &:first-child {
        margin: 0;
      }
    }
  }

  &.-entering {
    opacity: 1;
    transform: translate(0px, -1px);
  }

  &.-entered {
    opacity: 1;
    transform: translate(0px, -1px);
  }

  &.-exiting {
    opacity: 0;
    transform: translate(-4px, -1px);
    transition: all $animation-time-2 $ease-in-out-sine 0.1s;
  }

  &.-exited {
    opacity: 0;
    transform: translate(-4px, -1px);
    transition: all $animation-time-2 $ease-in-out-sine 0.1s;
  }

  svg {
    fill: $color-primary;
  }
}
