.c-wysiwyg-list-item {
  width: 100%;
  position: relative;
  list-style: none;

  &.-isHover {
    z-index: $z-index-2;

    .list-item-container:after {
      width: 100%;
      opacity: 1;
    }
  }

  &.-isDragging {
    pointer-events: all !important;

    .c-wysiwyg-item-content {
      background: $color-primary;
      color: $color-white;
    }
  }

  .list-item-container {
    position: relative;
    display: inline-block;
  }
}
