.cw-wysiwyg-list-item {
  width: 100%;
  position: relative;
  list-style: none;

  &.-isReadOnly {
    padding: $space-1 * 2 0;

    &:first-child {
      padding: 0;
    }
  }

  &.-isHover {

  }

  &.-isDragging {
    pointer-events: all !important;

    .cw-wysiwyg-item-content {
      background: $color-primary;
      color: $color-white;
    }
  }

  .list-item-container {
    position: relative;
    display: block;
  }

  // Blocks
  &.-text, &.-image {
    .list-item-container {
      display: inline-block;
    }
  }
}
