.c-wysiwyg-item-content {
  margin: 0 $space-1 * 3;
  padding: $space-1;
  display: inline-flex;
  border: 1px solid transparent;
  transition: all $animation-time $ease-in-out-sine;

  &.-isHover {
    border-color: $color-primary;
  }

  .quill {
    outline: none;
    min-width: 200px;

    .ql-toolbar {
      display: flex;

      .ql-formats {
        display: inline-flex;
      }
    }
  }
}
