.cw-quill {
  outline: none;
  min-width: 200px;

  .ql-bubble .ql-tooltip {
    z-index: $z-index-4;
  }

  .ql-editor {
    padding: 0;
  }

  .ql-toolbar {
    display: flex;

    .ql-formats {
      display: inline-flex;
    }
  }
}
