.c-wysiwyg-toolbar {
  width: 100%;
  position: relative;
  z-index: $z-index-3;
  height: $space-1 * 6;
  transition: all $animation-time $ease-in-out-sine;

  // State
  &.-no-cursor {
    .toolbar-handler {
      &:after { display: none; }
    }
  }

  &.-edition {
    z-index: $z-index-4;
  }


  // Animations
  &.-entering {
    opacity: 1;
    height: $space-1 * 6;
  }

  &.-entered {
    opacity: 1;
    height: $space-1 * 6;
  }

  &.-exiting {
    opacity: 0;
    height: 0;
  }

  &.-exited {
    opacity: 0;
    height: 0;
  }


  .toolbar-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .toolbar-handler-button,
    .toolbar-handler-list {
      z-index: $z-index-2;
      transition: all $animation-time $ease-in-out-sine;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    .toolbar-handler-button {
      // Animations
      &.-entering {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%);
      }

      &.-entered {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%);
      }

      &.-exiting {
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, -100%);
      }

      &.-exited {
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, -100%);
      }
    }

    .toolbar-handler-list {
      display: flex;

      > li {
        margin: 0 0 0 $space-1;

        &:first-child {
          margin: 0;
        }
      }

      // Animations
      &.-entering {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%);
      }

      &.-entered {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%);
      }

      &.-exiting {
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, 0%);
      }

      &.-exited {
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, 0%);
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      z-index: $z-index-1;
      width: 100%;
      height: 0;
      border-top: 2px dashed $color-primary;
    }
  }
}
