/**
 * COLORS
 * - Common
 * - App
 * - Text
 * - State
 * - Borders
 * - Backgrounds
*/
// Common
$color-black: black;
$color-dark: #1E2727;
$color-dark-grey: #2E3D3D;
$color-blue: #6f6fc3;
$color-light-grey: #979797;
$color-dark-green: #73A575;
$color-light-green: #C9FF8A;
$color-watermelon: #FF6161; // Red
$color-peach: #FFA26E; // Orange
$color-cream: #F3F9F4;
$color-white: white;

// App
$color-primary: $color-dark-green;
$color-secondary: $color-dark-grey;
$color-tertiary: $color-light-green;

// Text
$color-text-1: $color-dark;
$color-text-2: $color-white;

// State
$color-success: $color-dark-green;
$color-error: $color-watermelon;

// Borders
$border-color-1: $color-dark-grey;
$border-color-2: #DDD;
$border-color-3: $color-light-grey;

// Backgrounds
$color-bg-dark: $color-dark;
$color-bg-cream: $color-cream;
$color-bg-light: $color-white;

// Shadow
$box-shadow: 2px 2px 22px 0 rgba($color-black, .52);

// Zindex
$z-index-1: 0;
$z-index-2: 10;
$z-index-3: 9999;
$z-index-4: 10000;

/**
 * FONTS
 * - Families
 * - Sizes
 * - Weights
*/
// Families
$font-family-1: 'Protipo A';
$font-family-2: sans-serif, Arial, Georgia;

// Sizes
$font-size-extrasmall:  10px;
$font-size-small:       13px;
$font-size-default:     15px;
$font-size-big:         20px;
$font-size-bigger:      24px;
$font-size-extrabig:    26px;
$font-size-huge:        42px;
$font-size-extrahuge:   72px;

// Weights
$font-weight-light:   300;
$font-weight-default: 400;
$font-weight-bold:    700;

/**
 * LAYOUT
*/
// Max widths
$layout-max-width: 1280px;
$layout-padding: 20px;

// Responsive breakpoints
$br-mobile: 640px;
$br-tablet: 1024px;
$br-desktop: 1200px;

/**
 * SPACES && SIZES
*/
$space-1: 8px;

/**
 * ANIMATIONS
 * - Times
 * - Eases
*/
// Times
$animation-time: .16s;
$animation-time-2: .24s;
$animation-time-3: .5s;
$animation-time-4: .75s;

// Eases
$ease-in-cubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);

$ease-in-sine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$ease-out-sine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$ease-in-out-sine: cubic-bezier(0.445, 0.050, 0.550, 0.950);


// Foundation
@import '../../../node_modules/foundation-sites/scss/foundation';
@import 'foundation_settings';
@include foundation-flex-classes;
@include foundation-flex-grid;
@include foundation-responsive-embed;


// Wysiwyg
@import 'wysiwyg';
@import 'backdrop';
@import 'toolbar';
@import 'list';
@import 'item';
@import 'item-drag';
@import 'item-actions';
@import 'item-content';

// Wysiwyg UI
@import 'ui/button';
@import 'ui/icon';
@import 'ui/spinner';
@import 'ui/tooltip';
@import 'ui/modal';

// Wysiwyg form
@import 'form/field';
@import 'form/fieldset';
@import 'form/form';
@import 'form/file';

// Wysiwyg blocks
@import 'blocks/title';
@import 'blocks/text';
@import 'blocks/image';
@import 'blocks/embed';
@import 'blocks/grid';

// Wysiwyg edition blocks
@import 'blocks/edition/grid-edition';

// Quill editor
@import '../../../node_modules/react-quill/dist/quill.bubble';
@import 'quill';
